.sidePanel {
    height: 95%;
    max-width: 80%;
    position: relative;
}

.about:h1 {
    font-size: 30px;
}

.socialLinks {
    position: absolute;
    bottom: 0;
    font-size: 0.85rem;
}

.siteTitle {
    font-size: 6.5rem;
    width: 100vw;
    margin: 2rem 0; 
     
}