.parentPanel{
    position: fixed;
    height: 100vh; 
    z-index: 1;
    top: 0; 
}
.sidePanel {
    height: 95%;
    max-width: 25%; 
    position: relative;
}

.socialLinks {
    position: absolute; 
    bottom: 0;
    font-size: 0.85rem;


}

