#root {
    height: 100vh;
    padding-left: 2rem;
    padding-right: 0rem;
    font-family: Kosugi;
}
#root a {
    color: #00575b;
    text-decoration: underline ;
    text-decoration-color: #fff235; 
    text-decoration-thickness: 3px;
}

#root a:hover {
    background-color: #fff235;
}

.atag {
    color: #00575b;
    text-decoration: underline #fff235;
    text-decoration-thickness: 3px;

}

.atag:hover {
    background-color: #fff235;

}

.leftPanel {
    position: fixed;
    height: 100vh;
    width: 30%;
    z-index: 1;
    top: 0;
    float: left;
}
.rightPanel {
    width: 75%;
    max-width: 1200;
    float: right;
    padding-right: 1.3em;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

@media all and (max-width: 900px) {
    .leftPanel {
        position: relative;
        width: 100%;
        height: auto;
    }

    .rightPanel {
        width: 100%;
        font-size: 0.8em;
    }
}

@font-face {
    font-family: "Kosugi";
    src:
        local("KosugiMaru-Regular"),
        url("../fonts/KosugiMaru-Regular.ttf") format("truetype");
}
